window.bar {
    background-color: RGBa(31, 31, 40,0.75);
    color: @theme_fg_color;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}


button:active {
    
}

.clock-time {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: #6A9589;
    font-weight: bolder;
}
  
.clock-date {
    color: #727169;
    margin-right: 10px;
    margin-top: 2px;
    font-size: 10.5px;
}
  
button:hover {
    margin-top: 5px;
    margin-bottom: 4px;
    border-bottom: 1px solid @theme_selected_bg_color;
}

label {
    font-weight: bold;
}

.workspaces {
    margin-left: 10px;

}
.workspaces button{
    margin-left: 2px;
    margin-right: 2px;

}

.workspaces button.focused {
    background-color: @theme_selected_bg_color;
    color: @theme_bg_color;
    margin-top: 5px;
    margin-bottom: 5px;

}
.urgent {
    background-color: red; /* Change color to red when the workspace has an urgent application */
    color: white; /* Optional: change text color for better visibility */
}


block{
    min-height: 5px;
    border-radius: 10px;
}

progress, highlight {
    min-height: 5px;
    border-radius: 10px;
  }
  
trough{
    
    border-radius: 10px;
    border: transparent;

}

.volume-icon {
    min-height: 1px;
    border: transparent;
    background-color: red;
    
}
battery{
    background-color: red;
}

window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 42px;
    min-height: 42px;
    margin-right: 1em;
}

.icon image {
    font-size: 38px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 48px;
    min-height: 48px;
    border-radius: 7px;
}


.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid #727169;;
    background-color: RGBa(31, 31, 40,0.75);
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 14px;
}

.body {
    color: @theme_unfocused_fg_color;
    font-size: 12px;
    
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

.title-title {
    color: #727169;
    font-size: 10.5px;
}

.title-class{
    margin-top:2px;
    font-weight: bolder;
    color: #957FB8;
    font-size: 14px;
}

.battery-percentage {
    margin-left: 5px;
    margin-top:2px;
    font-size: 13px;
    }
    
    .profile-label {
        margin-top: 3px;
    }
    .profile-balanced {
        margin-top: 3px;
    }
    
    .profile-performance {
        margin-top: 3px;
        color: #C34043;
    }
    
    .profile-powersaver {
        margin-top: 3px;
        color: #957FB8;
    }
    .active {
        background-color: blue;  
        color: white;            
    }
    .urgent {
        border: 2px solid red; /* Urgent workspace has a red border */
    }