@import url('~../../../../.cache/wal/colors-waybar.css');

* {
    /* `otf-font-awesome` is required to be a for icons */
    font-family: MaterialDesignIcons, Iosevka;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: alpha(@background, .55);
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
    box-shadow: 10px 45px 45px 0px @background;
-webkit-box-shadow: 10px 45px 45px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 45px 45px 0px rgba(0,0,0,0.75);
    border-style: solid;
 /*   border-bottom: 1px solid @color0; */
    }

window#waybar.hidden {
    opacity: 0.2;

}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 5; 
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: #C0A36E;
}
#workspaces{
  background-color: transparent;
  border-radius: 20px;
  padding: 0px;
  margin: 20px;

}

#workspaces button {
    padding: 0 5px;
    margin: 8px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border-radius: 12px;
    color: @color2;
}

#workspaces button.active {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: @color6; 
    color: @background;
    border-radius: 15px;
    font-weight: 900;
    font-size: larger;
transition:transform 1s ease-in-out 0s;
animation-duration: 2.2s;
animation-name: paragato;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;


}
/* Define the @keyframes rule for the elementspin animation */
@keyframes elementfade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .element {
      animation: elementfade;
      animation-duration: 2s;
  }


#workspaces button:hover {
    background-color: @color2;
    color: @color0;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    color: @color0;
    background-color: @color3;
    border-radius: 12px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#gamemode,
#pulseaudio,
#power-profiles-daemon,
#custom-notification,
#custom-waybar-mpris,
#custom-audio_idle_inhibitor,
#window,
#custom-power_profile,
#custom-fan-rpm,
#custom-logo,
#clock,
#battery,
#battery.charging, 
#battery.plugged,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @foreground;
    background: @color0;
    border-radius:   12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#power-profiles-daemon {
    padding-right: 16px;
}

#gamemode{
    background-color: transparent;
}

#custom-logo{

}

#battery {
 
}

#battery.charging, #battery.plugged {
    color: @color6;
}

@keyframes blink {
    to {
        color: @color5;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @color11;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {

}


#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
}

#network {
    border-radius:   12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 5px;
}

#network.disconnected {
    color: #DCD7BA;
}


#pulseaudio.muted {
    color: @color8;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-waybar-mpris{
    color: @color14;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    color: @light-red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background-color: #2d3436;
}


#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#custom-power_profile{
    padding: 0 10px;
    
}

#mpd {
    color: #957FB8;
}

#mpd.disconnected {

}

#clock{
    font-weight: bolder;
    color: @color13; 
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {

}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#pulseaudio-slider slider {
    min-height: 0px;
    opacity: 0;
    background: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-width: 30px;
    border-radius: 20px;
    background: blue;

}
#pulseaudio-slider trough, #backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    background-color: @background;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
}