@import "../../.cache/wal/colors-waybar.css";

@define-color main-color @color13;

* {
  font-family: MaterialDesignIcons, Iosevka;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  
}


window#waybar {
  background: alpha(@background, 0.75);

}

#window {
  padding: 2px 10px;
  margin: 8px 4px;
  background: alpha(@background, 0.85);
  border-radius: 14px;
  color: lighter(@main-color);
}

tooltip {
  padding-top: 30px;
  background: alpha(@background, 0.80);
  border: 1.5px solid alpha(lighter(@main-color), 0.3);
  border-radius: 14px;
}

tooltip label {
  color: @foreground;
}

#custom-arrow-right {
  color: darker(@color4);
  margin: 0px 4px;
}

#temperature,
#cpu,
#memory,
#disk,
#custom-updates {
  padding: 0px 6px;
  margin: 8px 4px;
  background: alpha(darker(@main-color), 0.3);
  color: @main-color;
  border-radius: 14px;
}

#temperature.critical {
  background: alpha(darker(@color9), 0.8);
  color: @color0;

}

#workspaces {
  margin: 7.8px 4px;
  background: alpha(@background, 0.7);
  border-radius: 16px;
}

#workspaces button {
  font-size:smaller;
  padding: 0px 4px;
  margin: 0px 4px;
  color: alpha(@foreground, 0.5);
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  color: @background;
  border-radius: 40px;
  background: @color4;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
  background-color: lighter(@color5);  
  color: @background;
  border-radius: 12px;
  padding: 0px 5px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#workspaces button:hover {
  color: @color5;  
  border-radius: 14px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active:hover {
  color: lighter(@background);  
  background: alpha(@color2, 0.70);
  border-radius: 14px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#control-center {
  padding: 0px 6px;
  margin: 8px 4px;
  color: lighter(@main-color);
  background: alpha(@background, 0.75);
  border-radius: 14px;
}

#bluetooth{
  padding: 0px 2px 0px 5px;

}

#custom-notifications{
  margin-right: 8px;
}

#custom-notifications,
#network,
#pulseaudio {
  padding: 0px 0px 0px 6px;
}

#language {
  padding: 0px 3px 2px 0px;
}

#custom-arrow-left {
  color: darker(@color4);
  margin: 0px 4px;
}

#cava{
  border-radius: 40px;
  color: @foreground;
  padding: 0px 5px;
  margin: 8px 0px;
}

#language,
#idle_inhibitor,
#custom-gpu-usage,
#custom-screenrecorder,
#gamemode,
#custom-waybar-mpris,
#custom-weather,
#tray,
#custom-theme-switcher {
  padding: 0px 7px;
  margin: 8px 4px;
  color: @main-color;
  background: alpha(darker(@main-color), 0.3);
  border-radius: 14px;
}

#tray menu * {
  border-radius: 14px;

}
#tray .child {
  padding: 0 10px;
}


tray > .passive {
  -gtk-icon-effect: dim;
  font-size: 4px;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}


#clock {
font-weight: bolder;
padding: 0px 10px;
margin: 8px 4px;
  background: alpha(@background, 0.8);
  border-radius: 10px;
  color: lighter(@color10);
  
}

#power {
  background: alpha(@main-color, 0.3);
  border-radius: 10px;
  margin: 4px;
}

#privacy,
#backlight,
#battery {
  padding: 0px 6px;
}

#battery.charging {
  color: @color4;
}

#battery.warning {
  color: @color7;
}


#battery.critical {
  color: @color6;
  animation: fadeColor 2s forwards;
}

#gamemode{
  padding-left: 0px;
padding-right: 16px;
}

#power-profiles-daemon  {
  border-radius: 15px;
  padding-right: 20px;
  margin-left: 4px;
  margin-right: 6px;
  background: linear-gradient(90deg, transparent 20%, alpha(@color8, 0.50) 90%); 
  color: @color7;
}


#backlight-slider slider,
#pulseaudio-slider slider {
  background: #A1BDCE;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -4px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096C0;
}


#privacy:hover{
  background-color: alpha(@color8, 0.30);
  border-radius: 14px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#privacy-item.audio-in{
  color: @color6;
}

#audio:hover,
#light:hover,
#connection:hover,
#batterys:hover {
  padding-left: 6px;
  padding-right: 12px;
  margin: 0px 4px;
  background-color: alpha(@color8, 0.30);
  border-radius: 14px;
  color: lighter(@foreground);

  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#cava:hover,
#clock:hover{
  background-color: alpha(@color8, 0.30);
  color: lighter(@foreground);
  border-radius: 14px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}
#custom-notifications:hover{
  margin-right: 0px;
  background-color: alpha(@color4, .7);
  padding: 0px 10px 0px 10px;
  color: @background;
  border-radius: 14px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);

}

#language:hover,
#idle_inhibitor:hover,
#custom-gpu-usage:hover,
#custom-screenrecorder:hover,
#temperature:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#custom-updates:hover,
#custom-theme-switcher:hover,
#gamemode:hover,
#custom-weather:hover,
#tray:hover,
#window:hover,
#custom-waybar-mpris:hover{
  background-color: alpha(@color4, .7);
  color: @background;
  border-radius: 14px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}