window {
  font-family: "Iosevka", "MaterialDesignIcons";
  margin: 0px;
  border: 2px solid #C8C093;
  background-color: RGBa(31, 31, 40, 0.9);
  border-radius: 10px;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  margin-top: 10px;
  margin-bottom: 10px;
  #background-color: rgba(55, 59, 65, 0.95);
}

#inner-box {
  margin: 5px;
  border: none;
  #background-color: transparent;
}

#outer-box {
  border: none;
  #background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #c5c8c6;
}

#entry {
  border: none;
}

#entry:focus {
  border: none;
}

#entry:selected {
  #background-color: rgba(55, 59, 65, 0.95);
  border-radius: 5px;
  border: none;
}
