window {
  font-family: "Iosevka", "MaterialDesignIcons";
  margin: 0px;
  border: 2px solid #C8C093;
  background-color: RGBa(31, 31, 40, 0.7);
  border-radius: 10px;
}

#input {
  margin: 5px;
  border: none;
  #color: #727169;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: none;
}

#inner-box {
  margin: 5px;
  border: none;
  #background-color: transparent;
}

#outer-box {
  border: none;
  #background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
 # color: #727169;
}

#entry {
  border: none;
}

