* {
  background-image: none;
}
window {
  background-color: rgba(9,6,24, 0.5);
}
button {
  color: #ffffff;
  background-color: rgba(9,6,24, 0.9);
  border-radius:  55px 20px 55px 20px;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

button:focus,
button:active {
  border-radius:   20px 55px 20px 55px;
  background-color: #E6C384;
  color: #090618;
  outline-style: none;
}

button:hover {
  background-color: #090618;
  border-radius:  55px 20px 55px 20px;

}

#lock {
  background-image: image(
    url("./icons/lock.svg"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("./icons/logout.svg"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("./icons/suspend.svg"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.svg"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.svg"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.svg"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
