* {
  background-image: none;
  

}
window {
  background-color: RGBa(31, 31, 40,0.6);  
  
}
button {
  color: #C0A36E;
  background-color: rgb(9,6,24);
  border-radius: 26px;
  margin: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  
}


button:focus,
button:hover  {
  background-size: 22%;
  border-radius: 35px;
  border: 3px;
  background-color: #1F1F28;
  color: #DCD7BA;
  outline-style: none;
}


#lock {
  background-image: image(
    url("./icons/lock.png"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("./icons/logout.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("./icons/suspend.png"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.png"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/power.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
