@import url('../../.cache/wal/colors-waybar.css');

/*@define-color font            #DCD7BA;
@define-color background      #1F1F28;
@define-color background-alt  #1F1F28;
@define-color dark-gray        #727169;
@define-color hover           #090618;
@define-color urgent          #C34043;

*/


* {

  /*background-alt:        @color1;      Buttons background */
  /*dark-gray:              @color2;      Button dark-gray */
  /*hover:                 @color5;      Hover button */
  /*urgent:                @color6;      Urgency critical */
  /*text-dark-gray:         @background; */

  color: @foreground;

  all: unset;
  font-size: 14px;
  font-family: "Iosevka";
  transition: 200ms;

}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
  color: @foreground;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background, .75);
  box-shadow: 0 2px 8px 0 @color0;   
  border: 1px solid @color13;
  border-radius: 12px;  
  margin: 16px;
  padding: 0;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
  
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
border-radius: 12px;
box-shadow: 0 2px 8px 0 @color0;   
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @color13;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: @color0 ;
  color: @color4;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  color: @background;
  background-color: @color6;
  border: 1px solid @color5;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @color3;
  color: @color5;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @color0;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @color0;
  color: @background;
}

.notification.critical progress {
  background-color: @color11;
}

.notification.low progress,
.notification.normal progress {
  background: alpha(@color4, .85);
}



/* Avoid 'annoying' backgroud */
.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  color: @foreground;
  background: alpha(@background, .85);
border-radius: 12px;  border: 1px solid @color1;
  box-shadow: 0 2px 8px 0 @color0;   
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background: @background;
  color: alpha(@foreground, .8);
  border: 1px solid alpha(@color13, .5);
  border-radius: 10px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @color11;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 4px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@background, .85);
  color: @foreground;
  border-radius: 8px;
  margin: 6px;
  border: 2px solid transparent;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  color: @background;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @color0;
  color: @foreground;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  border: 1px solid transparent;
  background: transparent;
  border-radius: 6px;
  color: @foreground;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @background;
  border: 1px solid @color1;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @color13;
  color: @background;
}

progressbar,
progress,
trough {
border-radius: 12px;
border: none;
}

progressbar {
  background-color: @background;
  border: none;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @foreground;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.notification-group-icon {
  color: @foreground;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  margin: 4px; 
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: alpha(@foreground, .2);
  border: 2px solid @foreground;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 2px;
}

.widget-title button {
  border-radius: 10px;
  padding: 4px 16px;
  border: 1px solid @color6;
}

.widget-title button:hover {
  background-color: alpha(@background, .2);
  border: 1px solid @color13;
}

.widget-title button:active {
  background-color: alpha(@color13, .2);
  color: @color13;
}

  /* Do not disturb */
.widget-dnd {
  margin: 8px 2px;
  font-size: 1.2rem;
  
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  border: 2px solid @color1;
  box-shadow: none;
}

.widget-dnd > switch:hover {
  background: alpha(@foreground, .2);
}

.widget-dnd > switch:checked {
  background: @color1;
}

.widget-dnd > switch:checked:hover {
  background: alpha(@color1, .8);
}

.widget-dnd > switch slider {
  background: @foreground;
  border-radius: 6px;
}

  /* Buttons menu */
.widget-buttons-grid {
  padding: 10px 2px;
  margin: 6px;
  border-radius: 24px;  
  background: lighter(@background);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: @color4;
  color: alpha(@background, .8);
  border-radius: 24px;
  border: 2px solid transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: lighter(@color4);
  color: lighter(@background);
}

  /* Music player */
.widget-mpris {
    background: none;
    border-radius: 16px;
    color: @foreground;
    padding: 6px;
    margin:  20px 6px;
}
 
.widget-mpris button {
  color: alpha(@foreground, .6);
  border-radius: 6px;
}

.widget-mpris button:hover {
  color: @foreground;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background: alpha(@background, .6);
    padding: 12px 10px;
    margin: 10px;
    border-radius: 14px;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

/* Volume widget */
trough {
  border-radius: 20px;
  background: alpha(@color4, .3);
  border: 1px solid @background;
}

trough highlight {
  /* ´trough´ is the background of the slider, ´highlight´ is the actual slider */
  padding: 2px;
  background: @color4;
  border: 1px solid @color4;
  border-radius: 20px;
}

trough slider {
  
  padding: 2px;
  background: @color4;
  border: 1px solid @color4;
  border-radius: 20px;

}
trough highlight:hover {
  padding: 2px;
  background: @color5;
  border-radius: 20px;

}

.widget-volume {
  padding: 20px 10px;
  background-color: alpha(@background, 0.0);
  border-radius: 20px 20px 0px 0px;
  font-size: 45px;
  margin-left: 10px;
  margin-right: 10px;
  border: 0px solid transparent;
}


.widget-backlight {
  padding: 20px 10px;
  background-color: alpha(@background, 0.0);
  font-size: 15px;
  margin-top: -8px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0px 0px 20px 20px;
  border: 0px solid transparent;
}